<ul class="list-group">
  <li class="list-group-item">
    <strong>Nombre</strong>
    <span class="pull-right">{{convenio.name}}</span>
  </li>
  <li class="list-group-item">
    <strong>País</strong>
    <span class="pull-right">
      <convenio-type></convenio-type>
    </span>
  </li>
  <li class="list-group-item">
    <strong>Código</strong>
    <span class="pull-right">{{convenio.alpha_two_code}}</span>
  </li>
  <li class="list-group-item">
    <strong>Web Page</strong>
    <a href="{{convenio.web_page}}"" target="_blank ">
      <span class="pull-right">{{convenio.web_page}}</span>  
    </a>
  </li>
</ul>
                